html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;

}
input, select{
    padding: 3px;
    margin: 3px 0;
    font-size: 14px;
     width: 30%; 
     
    box-shadow: none;
}

.hidden{
    display: none;
}

.editing{
    background-color: #B2EBF2;
}
button{
    color: black;
    background-color: white;
    border: 1px solid black;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;

}
button:hover, button:active{
    color: white;
    background-color: black;
}

h1{
    text-align: center;
}

.ip-label{
    margin: 3px 0;
    /* border: 1px solid pink; */
    width: 20%;
    float: left;
    min-width: 145px;
    
}
#food-progress-bar
{
    width: 50%;
    z-index: 1;
    height: 33px;
    
    border: 1px solid cyan;
}
#food-progress{
    width: 100%;
    margin: auto;
    height: 33px;
    border: 1px solid black;
    z-index: 3;
}

.show-food-name{
    width: 30%;
    float: left;
}
.show-food-calories{
    /* width: 40%; */
    display: inline;
    
}
.food-button{
    color: #00796B;
    background-color: #B2DFDB;
    border: none; 
    float: right;
    margin: 0 4px;
    padding: 4px;
    /* box-shadow: 0px 0px 2px 0.71px rgba(0,0,0,0.75); */
}
.show-personal-details, #personal-details-form{
    background-color: #E3F2FD;
    padding: 6px;
}

#new-food-div{
    background-color: #FFFDE7;
    padding: 6px;
}
.show-food-container{
    border-bottom: 1px solid #00796B;
    padding: 4px 0;
}
#show-food-info{
    background-color: #E0F2F1;
    padding: 6px;
}
/* #new-water-div{
    border: 1px solid cyan;
} */